GROQ_API_KEY=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
DEBUG=True
SECRET_KEY=django-insecure-dtp-assignment-secret-key-2026

# Redis / Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0